.shadow_input_wrapper {
  min-width: 100px;

  box-sizing: border-box;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 5px 15px 0 rgba(37, 44, 97, 0.25);

  display: flex;
  flex-direction: row;
}

.shadow_input_label {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
}

.shadow_input_input {
  width: 100%;

  border: 0 solid;
  outline: none;

  background-color: transparent;
  font-size: 20px;
}
